.not-found {
  /* outline: 1px solid red; */
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.not-found__container {
  /* border: 1px dotted yellowgreen; */

  height: 33vh;
  display: flex;
  flex-direction: column;
}

.not-found__text-container {
  justify-content: center;
}

.not-found__link-container {
  justify-content: flex-end;
}

.not-found__title {
  margin: 0;
  font-size: 140px;
  font-weight: 400;
  line-height: 169px;
}

.not-found__message {
  margin: 5px 0 0 0;

  font-size: 16px;
  font-weight: 400;
  line-height: 19px;

  text-align: center;
}

.not-found__link {
  margin: 0 0 60px 0;

  color: #4285f4;
  transition: 0.2s;

  font-size: 14px;
  font-weight: 400;
  line-height: 17px;

  text-decoration: none;
  cursor: pointer;
}

.not-found__link:hover {
  transition: 0.2s;
  opacity: 0.7;
}

@media (max-width: 1280px) and (min-width: 768px) {
  .not-found__link {
    margin-bottom: calc(222px - 162 / 512 * (100vw - 768px));
  }
}

@media (max-width: 768px) {
  .not-found__link {
    margin-bottom: calc(30px + 192 / 448 * (100vw - 320px));
    font-size: 12px;
    line-height: 15px;
  }

  .not-found__title {
    font-size: calc(80px + 60 / 448 * (100vw - 320px));
    line-height: calc(97px + 72 / 448 * (100vw - 320px));
  }

  .not-found__message {
    margin-top: calc(10px - 5 / 448 * (100vw - 320px));

    font-size: calc(12px + 4 / 448 * (100vw - 320px));
    line-height: calc(15px + 4 / 448 * (100vw - 320px));
  }
}
/* 60 222 30 */
