.movies {
  padding: 0 70px;
}

.movies__button-container {
  display: none;
  margin: 50px 0 80px 0;

  justify-content: center;
  align-items: center;
}

.movies__button-container_visible {
  display: flex;
}

.movies__button {
  border: none;
  font: inherit;
  color: inherit;
  cursor: pointer;

  width: 28%;
  height: 36px;

  color: white;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  background-color: #2f2f2f;
  border-radius: 6px;

  transition: 0.2s;
}

.movies__button:focus {
  outline: none;
}

.movies__button:hover {
  opacity: 0.8;
}

@media (max-width: 1280px) {
  .movies {
    padding: 0 calc(30px + 40 / 512 * (100vw - 768px));
  }
}

@media (max-width: 768px) {
  .movies {
    padding: 0 calc(10px + 20 / 448 * (100vw - 320px));
  }
}
