.promo {
  background-color: #073042;
  padding: 75px calc(50px + 0.039 * (100vw - 768px)) 85px;
}

.promo__container {
  padding-top: 75px;
  display: flex;
  justify-content: space-between;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  align-items: flex-start;
}

.promo__text {
  margin: 0;
  /* border: 1px solid red; */
  max-width: 640px;
}

.promo__title {
  margin: 0;

  font-size: 51px;
  font-weight: 400;
  line-height: 58px;
}

.promo__subtitle {
  margin: 36px 0 0 0;
  max-width: 310px;

  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  opacity: 0.5;
}

.promo__link-container {
  margin-top: 156px;
}

.promo__link {
  border: 1px solid rgba(255, 255, 255, 0.6);
  box-sizing: border-box;
  border-radius: 3px;
  padding: 10px 20px;
  color: #fff;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;

  transition: 0.2;
}

.promo__link:hover {
  opacity: 0.8;
}

@media (max-width: 1090px) {
  .promo__container {
    padding-top: 65px;
    flex-direction: row;
    justify-content: center;
  }
  .promo__text {
    text-align: center;
  }

  .promo__title {
    margin-top: 48px;
  }

  .promo__subtitle {
    margin: 22px auto 0;
  }

  .promo__link {
    margin-top: 92px;
  }
}
