.navigation {
  margin: 0;
  padding: 0;
  /* border: 1px solid red; */
  display: flex;

  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
}

.navigation :first-child {
  margin-left: 0px;
}

.navigation_link {
  /* border: 1px solid orange; */
  list-style: none;
  margin-left: 20px;
}

.profile {
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
  margin-left: 50px;

  font-size: 13px;
  line-height: 12px;
}

.profile_name {
  margin: auto 7px auto 11px;
}

.profile_logo {
  margin: 3px;
}
